@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Sofadi+One&family=Space+Grotesk:wght@300..700&display=swap");

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

:root {
  --Lime: hsl(61, 70%, 52%);
  --Red: hsl(4, 69%, 50%);
  --White: hsl(0, 0%, 100%);
  --Slate-100: hsl(202, 86%, 94%);
  --Slate-300: hsl(203, 41%, 72%);
  --Slate-500: hsl(200, 26%, 54%);
  --Slate-700: hsl(200, 24%, 40%);
  --Slate-900: hsl(202, 55%, 16%);
  --Slate-1000: hsl(201, 63%, 12%);
}

html {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1rem;
}

body {
  background-color: var(--Slate-100);
}

main {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  grid-template-areas: "form-details results-display";
  gap: 2rem;
  margin: 2rem auto;
  background-color: var(--White);
  border-radius: 1rem;
  max-width: 50rem;
}

.form-details {
  grid-area: form-details;
}

.results-display {
  grid-area: results-display;
}

.form-details,
.results-display {
  padding: 1rem;
}

h1 {
  font-weight: 700;
  font-size: 1.4rem;
  margin: 1rem 0 2rem;
}

h1 span {
  font-weight: 100;
  font-size: 0.8rem;
  margin-left: 4rem;
  color: var(--Slate-700);
  text-decoration: underline;
  cursor: pointer;
}

.label-input {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--Slate-700);
}

.input-container {
  position: relative;
  margin-bottom: 1.25rem;
}

input[type="text"] {
  width: 100%;
  height: 2.5rem;
  border-radius: 0.3125rem;
  border: 1px solid var(--Slate-700);
  padding-left: 1rem;
}

#amount {
    padding-left: 3rem;
  }

#amount + .symbol {
   left: 0.05rem;
   border-radius: 3px 0 0 3px;
}

.term-rate {
  display: flex;
  gap: 1rem;
}

.input-container .symbol {
  position: absolute;
  top: 73.4%;
  transform: translateY(-50%);
  pointer-events: none;
  padding: 0.43rem 1rem;
}


.error-message-1,
.error-message-2,
.error-message-3,
.error-message-4 {
  position: absolute;
  color: var(--Red);
  font-size: 0.8rem;
  margin: 5px 0 0 0;
}

.input-radio {
  width: 100%;
  height: 2.5rem;
  border-radius: 0.3125rem;
  border: 1px solid var(--Slate-700);
}

.input-radio-1 {
  margin-bottom: 1rem;
}

input[type="radio"] {
  margin: 0.7rem 0.7rem 0 1rem;
}


button {
  display: flex;
  height: 2.5rem;
  align-items: center;
  margin-top: 2rem;
  padding: 0 1rem;
  background-color: var(--Lime);
  border-style: none;
  border-radius: 2rem;
  font-weight: 700;
}

section.results-display {
  background-color: var(--Slate-900);
  border-radius: 0 1rem 1rem 3rem;
  display: flex;
  align-items: center;
  position: relative;
}

.empty-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: var(--White);
}

h2 + p {
  font-size: 0.87rem;
  text-align: center;
  color: var(--Slate-300);
  font-weight: 500;
}

.empty-results img {
  width: 12.5rem;
  max-width: 100%;
}

.your-results {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 0;
  padding: 1rem 0.5rem;
}

h3 {
    margin: 1rem 0;
    color: var(--White);
}

h3 + p {
    font-size: 0.87rem;
    font-weight: 500;
    color: var(--Slate-300);
    margin-bottom: 2rem;
}

.result-content {
    width: 21.875rem;
    height: 15rem;
    border-radius: .5rem;
    border-top: .25rem solid var(--Lime);
    background-color: var(--Slate-1000);
    padding: 1rem;
}

.result-content p {
    color: var(--Slate-300);
    font-size: 0.87rem;
    font-weight: 500;
}

h4 {
    color: var(--Lime);
    font-size: 2.5rem;
    font-weight: 700;
}

hr {
    margin: 1rem 0 2rem;
}

h5 {
    margin-top: .5rem;
    color: var(--White);
    font-weight: 700;
    font-size: 1rem;
}


input[type="text"]:focus,
.input-radio:focus,
.input-container .symbol:focus {
  border-color: var(--Lime);
  box-shadow: 0 0 5px var(--Lime);
  outline: none;
}

input[type="text"]:valid + .symbol,
.input-radio:valid + .symbol{ 
    background-color: var(--Lime);
}


/* Enhancements for Accessibility */
input[type="text"]:focus + .symbol,
.input-radio:focus + .symbol{
  background-color: var(--Lime);
  color: var(--White);
  transition: background-color 0.3s ease, color 0.3s ease;
}



@media (max-width: 48em) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "form-details" "results-display";
    border-radius: 0;
    margin: 0;
  }

  section.results-display {
    border-radius: 0;
    min-height: 65vh;
  }

  .term-rate {
    flex-direction: column;
  }

}
